html {
	height: 100%;
}
body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}
#about-us {
	background: #666 url("img/phbr1.jpg") no-repeat center cover;
}
footer {
	grid-row-start: 2;
	grid-row-end: 3;
}
.carousel-item {
	width: 100vw;
}
#text-logo,
#sub-title-logo,
#footer-text-logo,
#copyright-text-logo {
	font-family: 'Black Ops One', cursive;	
	color: #ffdd57;
}
#text-logo {
	font-size: 3em;
}
#footer-text-logo {
	font-size: 2em;
	padding-left: 15px;
}
#copyright-text-logo {
	font-size: 1em;
}
#login-username {
	margin: 0 10px;
}
footer {
	width: 100%;
	background-color: #363636;
	color: #fff;
}
.footer-nav-item {
	display: block;
	text-align: center;
	margin: 0 auto;
	color: #fff;
}
footer a:hover {
	color: #ffdd57;	
}
#copyright {
	padding-top: 15px;
	text-align: center;
}