/** GENE LOGO FORMATTING **/
	#sub-title-logo,
	#footer-text-logo,
	#copyright-text-logo {
		font-family: 'Black Ops One', cursive;	
		color: #ffdd57;
	}
	.gene {
		font-family: 'Black Ops One', cursive;	
		color: #ffdd57;
	}
	#text-logo {
		font-size: 3em;
	}
/** NAVIGATION **/
	#navbarMenuHeroA a:hover {
		color: #ffdd57;
		background-color: #363636;
	}
	#sign-up {
		color: #ffdd57;
	}
	#sign-up:hover {
		text-decoration: underline;
	}
	.username-field {
		display: inline-block;
		margin: 0 10px;
	}
	#nav-profile-pic {
		display: inline-block;
		margin-right: 20px;
		height: 60px;
		width: 60px;
		background-color: #555;
		border-radius: 50%;
		max-height: 60px;
	}
	.navbar-item,
	.footer-nav-item {
		font-weight: bold;
	}
	.session-nav-username {
		color: #ffdd57;
		font-weight: 1000;
	}
	#nav-burger {
		color: #ffdd57;
	}
/** BACKGROUND IMAGES **/
	#about-us,
	#contact-form,
	#sign-up-form {
		min-height: 400px;			
		background-position: cover;
	}
	#about-us {
		background-image: url("../img/phbr2.jpg");
	}
	#contact-form {
		background-image: url("../img/phbr2.jpg");	
	}
	#sign-up-form {
		background-image: url("../img/phbr2.jpg");
	}
	#leaderboard {
		background-image: url("../img/phbr2.jpg");
	}
/** HOMEPAGE **/
	#about-us,
	#contact-form .label{
		color: #fff;
	}
	#about-us .container {
		padding-top: 50px;
	}
	#contact-form .input {
		width: 50%;
	}
/** SIGN-UP PAGE **/
	#sign-up-form .label {
		color: #fff;
	}	
	#sign-up-form .input {
		max-width: 50%;
	}
	.error{
		color:red; 
	}
/** PROFILE PAGE **/
	#tile-wrapper{
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	#profile-picture{
		align: center;
	}
	#title{
		text-align: center;		
	}
	#myBar {
	  width: 10%;
	  height: 30px;
	  background-color: #4CAF50;
	  text-align: center; /* To center it horizontally (if you want) */
	  line-height: 30px; /* To center it vertically */
	  color: white; 
	}
/** LEADERBOARD **/
	#leader {
		margin: 30px auto;
		border-radius: 10px;
		display: grid;
		grid-template-columns: 1fr 2fr 2.5fr 2fr 1fr;		
	}	
	.leader-start {
		justify-self: start;
		align-self: center;
	}
	.leader-center {
		justify-self: center;
		align-self: center;
	}
	.leader-end {
		justify-self: end;
		align-self: center;
	}
	.leader-pic {
		height: 90px;
		width: 90px;
		border-radius: 50%;
		border: 5px solid #ffdd57;
	}
	.leader-text {
		color: #fff;
		font-size: 1.25rem;
		font-weight: 1000;
	}
	#leader a {
		color: #fff;
	}
	#leader a:hover {
		color: #ffdd57;
	}
/** STICKY FOOTER FORMATTING **/
	html {
		height: 100%;
	}
	body {
		min-height: 100%;
		display: grid;
		grid-template-rows: 1fr auto;
	}
	footer {
		grid-row-start: 2;
		grid-row-end: 3;
	}
/** FOOTER SECTION **/
	#footer-gene {
		padding-left: 15px;
	}
	footer {
		width: 100%;
		background-color: #363636;
		color: #fff;
	}
	#footer-nav li {
		font-size: .75em;
	}
	footer a:hover {
		color: #ffdd57;	
	}
	.footer-nav-item {
		display: block;
		text-align: center;
		margin: 0 auto;
		color: #fff;
	}
	#copyright {
		padding-top: 15px;
		text-align: center;
	}
	#copyright-text-logo {
		font-size: 1em;
	}